.about-container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row;
  justify-content: space-between;
}

.aboutme-div {
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: 100px;
}

.aboutme-img-div {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 150px;
}

.aboutme-title {
  margin-bottom: 40px;
}

.aboutme-detail {
  margin-bottom: 15px;
}

.icon-style {
  width: 35px;
  height: 35px;
  transform: translate(-5px, 10px);
  margin-right: 10px;
}