.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.intro-div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 250px;
  width: 600px;
}

.btn {
  background-color: #FCD5CE;
  border-radius: 15px;
  color: black;
  text-transform: none;
}
